.logo_img {
    border-radius: 50%;
    vertical-align: middle;

}

.txt_center {
    text-align: center;
}

.row_gap {
    margin-bottom: 30px;
}

.required_star {
    color: red;
}

.colored_row {
    background-color: rgba(43, 195, 93, 0.29);
}

.preview_image {
    height: 200px;
    width: 200px;
}
